* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$fontBase: "Ubuntu", sans-serif;

body {
  font-family: $fontBase;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
}

.button {
  margin-bottom: 177px;
  &__btn {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
    padding: 0px 35px;
    margin-right: 21px;
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0.5px;
      color: #ffffff;
    }
    &--orange {
      background-color: #ff5a30;
      border: none;
      padding: 0 39px;

      a {
        letter-spacing: 0.1px;
      }
    }
  }
}

.arrow {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 47.5%;
  right: 23px;
  transform: rotateY(-48%);

  &--opacity {
    opacity: 0.5;
    position: absolute;
    bottom: 47.5%;
    left: 23px;
  }

  &__link {
  }

  &__image {
    padding: 17px 15px;
  }
}


