.header {
  margin-bottom: 22px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  padding-top: 30px;
  &__logo {
    a {
      position: relative;
      font-size: 27px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #1e212c;
      padding-right: 83px;

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        left: 108px;
        bottom: 0;
        display: block;
        background-image: url("../image/header/Vector.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

.menu {
  display: flex;
  &__list {
    padding-top: 3px;
    padding-right: 40px;
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 25.6px;
      color: #424551;

      &:hover {
        font-size: 18px;
        color: rgb(241, 110, 22);
        transition: 0.5s, delay;
      }
    }
  }

  &__link {
  }
}

.right {
  display: flex;
  flex-wrap: wrap;
  padding-top: 22px;
  &__image {
    padding-right: 20px;
  }

  &__img {
    padding-right: 12px;
  }
  &__telef {
    display: flex;
    flex-direction: column;
    padding-right: 36px;
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #424551;
  }

  &__sending {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #1e212c;
  }
}
