.partners {
  .wrapper {
  }
  background-color: #f4f5f6;

  &__bottom {
    display: flex;
    padding-bottom: 119px;
  }
}

.port {
  width: 49%;
  &__top {
    margin-bottom: 26px;
  }

  &__title {
    margin-bottom: 60px;
    h3 {
      font-size: 46px;
      font-weight: 700;
      line-height: 59.8px;
    }
  }

  &__profile {
    margin-bottom: 22px;
    img {
      border-radius: 50%;
    }
  }

  &__information {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      color: #424551;
    }

    span {
      letter-spacing: 0.2px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 25.6px;
      color: #1e212c;
      padding-bottom: 4px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #787a80;
    }
  }

  &__arrow {
  }

  &__link {
    padding: 29px 24px 0 0;
    &--right {
      padding-right: 6px;
    }
  }
}

.law {
  width: 51%;
  position: relative;

  &__image {
    position: absolute;
    right: 0;

    img {
    }
  }
}
