.section {
  background-image: url("../image/section/section.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 988px;
  position: relative;

  .wrapper {
  }

  &__conteiner {
    max-width: 577px;
    padding-top: 221px;
    padding-left: 1px;
    margin-bottom: 177px;
  }

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 93.6px;
    letter-spacing: 1px;
    margin-bottom: 24px;
    color: #ffffff;
    span {
      color: #ff5a30;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 59px;
    color: #ffffff;
  }

  &__scroll {
    display: flex;
    gap: 4px;
  }

  &__link {
    display: inline-block;
    width: 178px;
    height: 54px;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
  }
}
