.services {
  background-image: url("../image/services/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;

  .wrapper {
    position: relative;
  }

  &__absolute {
    background-color: #ffffff;
    position: absolute;
    top: -103px;
    right: 0;
    left: 0;
    border-radius: 4px;
    z-index: 10;
    padding-bottom: 27px;
  }
  &__discription {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    p {
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
    }
  }

  &__form {
    display: flex;
    margin-bottom: 20px;
  }

  &__example {
    display: flex;
    gap: 24px;
  }

  &__cart {
    &:nth-child(1) {
      padding-left: 61px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #424551;
      padding-bottom: 8px;
    }
  }

  &__input {
    min-height: 44px;
    background-color: #e5e8ed;
    border: 1px solid #d7dadd;
    color: #9a9ca5;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 0px 73px 0px 15px;
    border-radius: 4px;
    &--message {
      padding: 0px 225px 0px 15px;
    }
  }

  .overview {
    position: absolute;

    &__content {
      padding-top: 92px;
    }
    &__construction {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 120px;
      margin-bottom: 60px;
    }

    &__title {
      font-size: 46px;
      font-weight: 700;
      line-height: 59.8px;
      color: #1e212c;
      padding-bottom: 23px;
    }

    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: #787a80;
    }
  }

  &__content {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
  }

  &__block {
    width: 285px;
    height: 285px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    position: relative;

    &--development {
      position: relative;
      padding-top: 92px;

      &::before {
        content: "";
        position: absolute;
        left: 43%;
        right: 0;
        top: 36%;
        bottom: 0;
        background-image: url("/image/services/Vector2.2.svg");
        background-repeat: no-repeat;
      }
    }

    a {
      color: #1e212c;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
    &--background {
      border-radius: 4px;
      position: relative;
      background-image: url("/image/services/image.svg");

      &:before {
        content: "";
        position: absolute;
        top: 44.3%;
        bottom: 0;
        left: 43%;
        right: 0;
        background-image: url("/image/services/Vector3.3.svg");
        background-repeat: no-repeat;
        z-index: 20;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1e212c;
        opacity: 0.6;
        border-radius: 4px;
      }
      a {
        color: #ffffff;
      }
    }
  }

  &__image {
    padding-bottom: 5px;
    padding-bottom: 24px;

    &--bott {
      padding-bottom: 28px;
    }
  }
}
