.formSend {
  background-color: white;
  max-width: 498px;
  min-height: 666px;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px #1e212c0d, 0px 12px 10px -6px #1e212c0d,
    0px 26px 24px -10px #1e212c0d, 0px 60px 80px -20px #1e212c0d;

  &__form {
    display: flex;
  }

  &__example {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;

    &--footer {
      flex-direction: column;
      padding-left: 38px;
      padding-right: 36px;
      gap: 20px;
    }
  }

  &__cart {
    &--bott {
      padding-left: 5px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #424551;
      padding-bottom: 8px;
    }

    &--button {
      display: flex;
      justify-content: center;
      padding-right: 38px;
    }
  }
}

input {
  font-family: $fontBase;
}

.field {
  &--withBtn {
    display: flex;
    width: 100%;

    &--black {
      .field__input {
        border: 1px solid #ffffff33;
        background-color: #ffffff1f;
      }
    }

    .field__content {
      width: 100%;
    }

    .field__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__label {
    display: block;
    color: #424551;
    margin-bottom: 8px;
  }

  &__content {
    display: block;
  }

  &__input {
    height: 44px;
    border: 1px solid #d7dadd;
    background-color: #f4f5f6;
    border-radius: 4px;
    width: 100%;
    padding: 0 15px;
    outline: none;
    color: #424551;
    box-sizing: border-box;

    &::placeholder {
      color: #9a9ca5;
    }
  }

  &__textarea {
    border: 1px solid #d7dadd;
    background-color: #f4f5f6;
    border-radius: 4px;
    width: 100%;
    min-height: 66px;
    padding: 10px 15px;
    outline: none;
    color: #424551;
    resize: vertical;
    box-sizing: border-box;

    &::placeholder {
      color: #9a9ca5;
    }
  }
}

.checkbox {
  display: flex;
  user-select: none;

  input {
    display: none;

    &:checked + span {
      &:before {
        display: flex;
      }
    }
  }

  &__icon {
    position: relative;
    display: flex;
    background-color: #ff5a30;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;

    &:before {
      content: "";
      display: none;
      background-image: url("/image/bottomApe/check.svg");
      background-repeat: no-repeat;
      width: 10px;
      height: 8px;
    }
  }

  &__text {
    padding-left: 12px;
    padding-top: 8px;
    font-size: 14px;
    line-height: 21px;
  }
}
