.formSend {
  background-color: white;
  max-width: 498px;
  min-height: 666px;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px #1e212c0d, 0px 12px 10px -6px #1e212c0d,
    0px 26px 24px -10px #1e212c0d, 0px 60px 80px -20px #1e212c0d;

  &__form {
    display: flex;
  }

  &__example {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;

    &--footer {
      flex-direction: column;
      padding-left: 38px;
      padding-right: 36px;
      gap: 20px;
    }
  }

  &__cart {
    &--bott {
      padding-left: 5px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #424551;
      padding-bottom: 8px;
    }

    &--button {
      display: flex;
      justify-content: center;
      padding-right: 38px;
    }
  }

  &__input {
    min-height: 44px;
    background-color: #e5e8ed;
    border: 1px solid #d7dadd;
    color: #9a9ca5;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 0px 73px 0px 15px;
    border-radius: 4px;
    max-width: 260px;
    &--message {
      padding: 0px 225px 0px 15px;
      max-width: 414px;
    }

    &--footer {
      padding: 0px 228px 0px 15px;
      color: #f4f5f6;
      opacity: 0.8;
      color: #9a9ca5;
      border: 1px solid #d7dadd;
      max-width: 415px;
    }

    &--messageBott {
      min-height: 66px;
      padding: 2px 207px 25px 17px;
      opacity: 0.8;
      color: #9a9ca5;
      border: 1px solid #d7dadd;
      max-width: 415px;
    }
  }
}

input {
  font-family: $fontBase;
}

.checkbox {
  display: flex;
  user-select: none;
  margin-bottom: 24px;

  input {
    display: none;

    &:checked + span {
      &:before {
        display: flex;
      }
    }
  }

  &__icon {
    position: relative;
    display: flex;
    background-color: #ff5a30;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;

    &:before {
      content: "";
      display: none;
      background-image: url("/image/bottomApe/check.svg");
      background-repeat: no-repeat;
      width: 10px;
      height: 8px;
    }
  }

  &__text {
    padding-left: 12px;
    padding-top: 8px;
    font-size: 14px;
    line-height: 21px;
  }
}
