.typography {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;

  &--title {
    font-size: 46px;
    line-height: 59.8px;
  }

  &--leadBold {
    font-size: 20px;
    line-height: 30px;
  }

  &--smallRegular {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &--baseRegular {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
  }

  &--form {
    padding-top: 47px;
    padding-left: 51px;
    margin-bottom: 26px;
  }
}
